<main>
    <h1>Attach a new accessory</h1>
    <div class="form">
        <h2>{{currentCube.name}}</h2>
        <img class="cube" src="{{currentCube.imageUrl}}">
        <form action="/create/accessory/{{currentCube._id}}" method="POST">
            {{#if accessories}}
            <label for="accessory">Accessories</label>
            <select id="accessory" name="accessory" />
            {{#each accessories}}
            <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
            {{else}}
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...</h3>
            {{/if}}
            </select>
            <input type="submit" value="Attach">
        </form>
        <a class="btn" href="/">Back</a>
    </div>
</main>
</div>
